<nav class="header navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand inline-block" href="#/">
        <img ng-src="images/logo1.png" alt="Logo">
        <b>Vehicle Ownership Tracking System</b>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#/signin">Sign-In</a></li>-->
        <li><a class="display-name"><b>Hi, <i>{{tenant.user}}</i></b></a></li>
        <li><a href="#/billing"><b>My Account</b></a></li>
        <li><a href="" ng-click="signOut()"><b>Log Out</b></a></li>
      </ul>
      <!--<form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>-->
    </div>
  </div>
</nav>