<div ng-include='"views/header.html"'></div>

<div class="home">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>VOTS</h1>
    <p class="lead">Vehicle Ownership Tracking system is dedicated to helping you find the owner of the vehicle and relate it to your line of business. It is effective and reasonable.</p>
    <p><a class="btn btn-lg btn-success" href="#/signup" role="button">Sign-Up Today</a></p>
  </div>

  <div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>The Power of VOTS.</h2>
      <p class="text-danger">Be sure about the authenthicity of the Vehicle Owner, Simply by entry!</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Why Should you use it?</h2>
      <p>
        <ul>
          <li>To stay away from any illegal buying or selling</li>
          <li>To cross check real information</li>
          <li>To know about the real vehicle owner</li>
        </ul>
      </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Who can use it?</h2>
      <p>
        <ul>
          <li>Basically anyone</li>
          <li>
            Organizations
            <ul>
              <li>Insurance Companies</li>
              <li>Security Agencies</li>
              <li>Car Companies</li>
            </ul>
          </li>
        </ul>
      </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
  </div>
</div>

<div ng-include='"views/footer.html"'></div>