<div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">VOTS</h3>
      </div>


  <!--<h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>-->
<form role="form" ng-submit="retrieveVehicleInfo(vehicle.registrationNo)">
  <div class="jumbotron">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="vehicle.registrationNo" placeholder="Registration Number (License Plate)" autofocus required>
      <br>
    </div>
    <button class="btn btn-success">Search <span class="glyphicon glyphicon-search"></span></button>
  </div>
</form>

<div ng-if="vehicle.searching" class="text-center">
  <img ng-src="images/loading.gif" alt="loading ...">
  <br>
  <br>
</div>

  <div class="row" ng-if="vehicle.showtable">
    <table class="table table-striped table-hover table-condensed">
      <tbody>
        <tr>
          <th>Chassis No.</th>
          <th>Color</th>
          <th>Make</th>
          <th>Model</th>
          <th>Owner</th>
          <th>Year</th>
        </tr>
        <!--<tr ng-repeat="vehicle in vehicle.details">-->
        <tr>
          <td>{{vehicle.details.chassisno}}</td>
          <td>{{vehicle.details.color}}</td>
          <td>{{vehicle.details.make}}</td>
          <td>{{vehicle.details.model}}</td>
          <td>{{vehicle.details.owner}}</td>
          <td>{{vehicle.details.year}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-include='"views/footer.html"'></div>

</div>
