<div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">VOTS</h3>
      </div>


  <!--<h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>-->
<form role="form">
  <div class="jumbotron">
    <div class="form-group">
      <!--<label for="exampleInputEmail1">Email address</label>-->
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Registration Number (License Plate)" autofocus required>
      <br>
    </div>
    <button class="btn btn-success" ng-submit="">Search <span class="glyphicon glyphicon-search"></span></button>
  </div>
</form>

<!--<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->

  <div class="footer">
    <p>COMP 6905 - Cloud Computing Project &copy; 2014</p>
  </div>

</div>
