<div ng-include='"views/header2.html"'></div>
<br>
<br>
<br>
<br>
<div class="container">
  <form role="form" ng-submit="retrieveVehicleInfo()">
    <div class="jumbotron">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="vehicle.registrationNo" placeholder="Enter Registration Number (License Plate)" autofocus required>
      <br>
      </div>
      <div class="form-group">
        <select name="country" class="form-control" ng-model="vehicle.country" required>
          <option value="">--- please select vehicle location by country ---</option>
          <option value="BRA">Brazil</option>
          <option value="FR">Fracne</option>
          <option value="GER">Germany</option>
          <option value="TT">Trinidad and Tobago</option>
          <option value="UK">United Kingdom</option>
          <option value="USA">United States of America</option>
        </select>  
      </div>
      <button class="btn btn-success"><span class="glyphicon glyphicon-search"></span> <b>Search</b></button>
    </div>
  </form>

  <div ng-if="vehicle.searching" class="text-center">
    <img ng-src="images/waiting.gif" alt="loading ...">
    <br>
    <br>
  </div>

  <!--Owner Information-->
  <div class="row" style="margin: 0 1px 0 1px;" ng-if="(vehicle.usertype === 'Insurance' || vehicle.usertype === 'Security' || vehicle.usertype === 'Dealer' || vehicle.usertype === 'Basic') && vehicle.showtable">
    <div class="panel panel-info">
      <div class="panel-heading" style="padding-left:5px"><b>Owner Information</b></div>
      <!-- Table -->
        <div class="row" style="margin: 0 1px 0 1px;">
          <div class="col-md-2 text-center" style="padding: 5px 5px;">
            <img ng-src="images/lewis.jpg" alt="owner photo">
          </div>
          <div class="col-md-6">
            <h5><b>Name:</b> {{vehicle.details.owner}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>National Identification No:</b> {{vehicle.details.id}}</h5>
            <h5><b>Age:</b> {{vehicle.details.age}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Weight:</b> {{vehicle.details.weight}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Height:</b> {{vehicle.details.height}}</h5>
            <h5><b>Permit Number:</b> {{vehicle.details.permitno}}</h5>
            <h5><b>Permit Issued Date:</b> {{vehicle.details.permitissuedate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Permit Expiry Date:</b> 1999-04-30</h5>
          </div>
          <div class="col-md-4">
            <h5><b>Occupation:</b> {{vehicle.details.occupation}}</h5>
            <h5><b>Gender:</b> {{vehicle.details.gender}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Ethnicity:</b> {{vehicle.details.ethnicity}}</h5>
            <h5><b>Address:</b> {{vehicle.details.address}}</h5>
            <h5><b>Date of Birth:</b> {{vehicle.details.dob}}</h5>
          </div>
        </div>
    </div>
  </div>
  <!--End Owner Information-->

  <!--Vehicle Information-->
  <div class="row" style="margin: 0 1px 0 1px;" ng-if="(vehicle.usertype === 'Security' || vehicle.usertype === 'Dealer') && vehicle.showtable">
    <div class="panel panel-info">
      <div class="panel-heading" style="padding-left:5px"><b>Vehicle Information</b></div>
      <!-- Table -->
        <div class="row" style="margin: 0 1px 0 1px;">
          <div class="col-md-8">
            <h5><b>Chassis Number:</b> {{vehicle.details.chassisno}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Certificate Number:</b> {{vehicle.details.certificateno}}</h5>
            <h5><b>Make:</b> {{vehicle.details.make}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Year:</b> {{vehicle.details.year}}</h5>
            <h5><b>Color:</b> {{vehicle.details.color}}</h5>
            <h5><b>Engine Size:</b> {{vehicle.details.enginesize}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Body Type:</b> {{vehicle.details.bodytype}}</h5>
          </div>
          <div class="col-md-4">
            <h5><b>Model:</b> {{vehicle.details.model}}</h5>
            <h5><b>Tranmission:</b> {{vehicle.details.transmission}}</h5>
            <h5><b>Doors:</b> {{vehicle.details.doors}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Capacity:</b> {{vehicle.details.passengercapacity}}</h5>
            <h5><b>Fuel Type:</b> {{vehicle.details.fueltype}}</h5>
          </div>
        </div>
    </div>
  </div>
  <!--End Vehicle Information-->

  <!--Insurance Information-->
  <div class="row" style="margin: 0 1px 0 1px;" ng-if="(vehicle.usertype === 'Insurance' || vehicle.usertype === 'Security') && vehicle.showtable">
    <div class="panel panel-info">
      <div class="panel-heading" style="padding-left:5px"><b>Insurance Information</b></div>
      <!-- Table -->
        <div class="row" style="margin: 0 1px 0 1px;">
          <div class="col-md-8">
            <h5><b>Insurance Number:</b> {{vehicle.details.insurancecertificate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Company Name:</b> {{vehicle.details.insurancename}}</h5>
            <h5><b>Coverage Type:</b> {{vehicle.details.insurancetype}}</h5>
            <h5><b>Vehicle Purchased Date:</b> {{vehicle.details.purchasedate}}</h5>
            <h5><b>Policy Issued Date:</b> {{vehicle.details.insuranceissuedate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Policy Expiry Date:</b> {{vehicle.details.insuranceexpdate}}</h5>
          </div>
          <div class="col-md-4">
            <h5><b>Agent:</b> {{vehicle.details.agent}}</h5>
            <h5><b>Mortgage:</b> {{vehicle.details.mortgage}}</h5>
            <h5><b>CCHP:</b> {{vehicle.details.cchp}}</h5>
          </div>
        </div>
    </div>
  </div>
  <!--End Insurance Information-->

  <!--No Data Found-->
  <div class="row" ng-if="vehicle.nodata" style="margin: 0 4px 0 4px;">
    <h1>No Data Found</h1>
  </div>
  <br>
  <div ng-include='"views/footer.html"'></div>

</div>