<div ng-include='"views/header.html"'></div>
<br>
<br>
<br>
<br><br>
<div class="container">
  <div ng-if="user.processing" class="text-center" style="padding-bottom:15px;">
    <img ng-src="images/processing.gif" alt="processing ...">
  </div>
  <div class="sign-in">
    <img class="profile-img" ng-src="images/photo.png" alt="Login Photo">
    <form class="form-signin" role="form" ng-submit="signIn()">
      <h3 class="form-signin-heading">Please Sign-In</h3>
      <input type="text" id="inputEmail" class="form-control" ng-model="user.username" placeholder="Email" required autofocus>
      <br>
      <input type="password" id="inputPassword" class="form-control" ng-model="user.password" placeholder="Password" required>
      <div class="checkbox pull-left">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </form>
    <a href="#/signup" class="text-center new-account"><b>Create an account</b></a>
  </div>
  <br>
  <br>
  <div ng-include='"views/footer.html"'></div>
</div>